.admin-nav {
  background: #4C4C4C;
  padding: 0;
}

.admin-nav ul > li > a {
  background: #3E3E3E;
  border-left: 3px solid #2980B9;
  border-radius: 0;
  color: #B2B2B2;
  font-family: "Signika Semibold";
  font-size: 16px;
  height: 40px;
}

.admin-nav ul > li.active > a,
.admin-nav ul > li > a:hover {
  background: #323232;
}

footer.admin {
  float: left;
  width: 100%;
  background-color: #333333;
  color: #E6E6E6;
  text-align: center;
  height: 70px;
  font-size: 15px;
  padding-top: 18px;
  line-height: 17px;
}
