@import "variables";

#students {

  header h1 {
    font-size: 20px;
    color: #4C4C4C;
  }

  header .search input[type='search'] {
    width: 100%;
    background: url('/assets/search.svg') no-repeat scroll 9px 9px;
    background-size: 17px;
    padding-left: 33px;
  }

  .filter .form-group {
    margin-top: 10px;
    margin-right: 10px;
  }

  .filter .form-group label {
    margin-right: 6px;
    margin-left: 6px;
  }

  .students {
    margin-top: 15px;
  }

  .students .student {
    padding-top: 10px;
    padding-bottom: 10px;

    &:hover {
      background: #E5E5E5 !important;

      .actions {
        color: #919191;
      }
    }
  }

  .students .student:nth-child(odd) {
    background: #F8F8F8;
  }

  .students .student .profile-pic {
    width: 64px;
  }

  .students .student .profile-pic img {
    width: 48px;
  }

  .students .student .info {
    line-height: 17px;

    .name {
      color: #45B29D;
      font-family: "Signika Semibold";
      font-size: 15px;
    }
    .school {
      color: #323232;
      font-family: 'Signika Light';
      font-size: 14px;
    }
    .address {
      color: #999999;
      font-family: 'Signika Light';
      font-size: 14px;
    }
  }

  .students .student i.fa {
    margin-right: 8px;
  }

  .students .student .enroll i.fa.fa-check {
    color: #45B29D;
  }

  .students .student .enroll i.fa.fa-clock-o {
    color: #F2E394;
  }

  .students .student .payment i.fa.fa-money {
    color: #DF5A49;
  }

  .students .student .actions {
    color: #E5E5E5;
    text-align: right;
  }

  .students .student .enroll,
  .students .student .payment,
  .students .student .actions {
    line-height: 50px;
  }

  @yellow: #FED24E;

  div.pagination {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .pagination {
    margin: 0;
  }

  .pagination > li > a {
    border: none;
    border-radius: 100px;
    margin-left: 5px;
    margin-right: 5px;
    color: #000000;

    &:hover {
      background: @yellow;
    }
  }

  .pagination > li.active > a {
    background: @yellow;
  }

  .pagination > li > span {
    border: none;

    &:hover {
      background: none;
      border: none;
    }
  }
}

#student {

  padding-top: 18px;

  header {
    margin-bottom: 10px;
  }

  header .profile-pic img {
    height: 64px;
  }

  header .name {
    padding-left: 0;
  }

  header .name input.form-control {
    width: 30%;
    float: left;
    margin-right: 5px;
    margin-top: 14px;
  }

  header .actions {
    padding-top: 15px;
  }

  header .actions .btn {
    width: 90px;
  }

  .panel {
    margin-bottom: 10px;
  }

  .others textarea {
    height: 75px;
  }

  .others i.fa {
    font-size: 1.6em;
  }

  .others .social {
    margin-top: 8px;
  }

  .others .social label {
    padding-right: 0;
  }

  /** Bootstrap Override */
  .form-group {
    margin-bottom: 10px;
  }

  .form-control {
    height: 30px;
    padding: 2px 8px;
  }

  .form-horizontal .control-label {
    padding-top: 2px;
  }

  .date-picker {
    width: 100%;
    background-image: url('/assets/calendar.svg');
    background-repeat: no-repeat;
    background-position: 7px 6px;
    background-size: 17px;
    padding-left: 33px;
  }
}

#student-payment {

  margin-top: 20px;
  margin-left: 10px;

  h2 {
    font-family: 'Signika Semibold';
    font-size: 20px;
    color: #4C4C4C;
  }

  .invoices {
    margin-top: 19px;
  }

  .invoice {
    padding-left: 0;
    padding-right: 0;
    margin-right: 15px;
    width: 47%;
    background: #F9F9F9;

    .panel-title {
      padding: 9px 15px;
    }


    .panel-title .season,
    .panel-title .description {
      font-family: 'Signika Light';
    }

    .panel-body * {
      float: left;
    }

    .panel-body .head {
      font-size: 15px;
      color: #7F7F7F;
      width: 100%;
    }

    .panel-body .data {
      width: 100%;
    }

    .panel-body .date {
      width: 28%;
      padding-left: 10px;
    }

    .panel-body .or {
      width: 30%;
    }

    .panel-body .method {
      width: 10%;
    }

    .panel-body .amount {
      width: 32%;
      text-align: right;
      padding-right: 10px;
    }

    .panel-body .data:nth-child(even) {
      background: #F2E394;
      border-radius: 3px;
    }

    .panel-body .add,
    .panel-body .add * {
      text-align: center;
      width: 100%;
      font-size: 14px;
      margin-top: 3px;
    }

    i.fa {
      color: #E5E5E5;
      font-size: 22px;
    }

    .panel-footer {
      padding: 10px 25px 0 17px;
      height: 40px;

      > div {
        float: left;
      }

      .trash {
        width: 40%;
      }
      .text {
        width: 30%;
        text-align: right;
      }
      .amount {
        width: 30%;
        text-align: right;
        font-size: 18px;
      }
    }
  }
}

/*****************
/* Titled Panel */
/****************/
.panel {
  border: 1px solid @lightest-gray;
  border-radius: 3px;
}

.panel .panel-title {
  background: #F2F2F2;
  color: #323232;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
  font-family: 'Signika Semibold';
  font-size: 15px;
  padding: 3px 12px 2px 12px;
  border-radius: 3px;
}

.form-group.inline label {
  text-align: left;
  margin-bottom: 5px;
}