.panel.panel-default
  .panel-body

    .col-lg-2
      ul.nav.nav-pills.nav-stacked role="tablist"
        li.active: a[href="#phase1" role="tab" data-toggle="tab"]
          p Phase 1
          p Mind-setting
        li: a[href="#phase2" role="tab" data-toggle="tab"] Phase 2
        li: a[href="#phase3" role="tab" data-toggle="tab"] Phase 3
        li: a[href="#phase4" role="tab" data-toggle="tab"] Phase 4
        li: a[href="#phase5" role="tab" data-toggle="tab"] Phase 5
        li: a[href="#phase5" role="tab" data-toggle="tab"] Phase 6
        li: a[href="#phase5" role="tab" data-toggle="tab"] Phase 7
        li: a[href="#phase5" role="tab" data-toggle="tab"] Phase 8

    .panel.col-lg-9
      div#phase1
        b Phase 1
        |  Mind-setting
          Orientation
          Motivational and
          Strategies

      div#phase2
        b Phase 2
        | Diagnostic Exams
          NP Pretest 1
          NP Pretest 2
          NP Pretest 3
          NP Pretest 4
          NP Pretest 5
          Preparatory Didactics (PD)
          PD: NPT 1
          PD: NPT 2
          PD: NPT 3
          PD: NPT 4
          PD: NPT 5

      div#phase3
        b Phase 3
        | Fundamentals of Nursing
          Leadership, Management & Research
          Professional Adjustment & Ethico-Legal Issues in Nursing
          Obstetric Nursing
          Pediatric Nursing
          Community Health Nursing
          Communicable Disease Nursing
          Anatomy & Physiology
          Medical-Surgical Nursing
          Pharmacology
          Psychiatric Nursing
          Psychopharmacology

      div#phase4
        b Phase 4
        | Post Tests (NP 1-5 Concepts)
          Critical Thinking Skills (NP 1-5 Concepts)
          Summative Exams (NPT 1-5)
          Pre Mock Board
          NPT 1 (100 items)
          NPT 2 (100 items)
          NPT 3 (100 items)
          NPT 4 (100 items)
          NPT 5 (100 items)

          Holistic Guidance Tutorial

      div#phase5
        b Phase 5
        | Final Coaching, Ratio, Tutorials
          Fundamentals of Nursing
          Community Health Nursing
          Communicable Disease Nursing
          Obstetric Nursing
          Pediatric Nursing
          Medical-Surgical Nursing
          Medical-Surgical Nursing 2
          Medical-Surgical Nursing 3
          Psychiatric Nursing
          PALMR
          Home Test Drills

      div#phase6
        b Phase 6
        | Simulated Local Board Exam and Ratio
          NMB
          NLE Mock Boards 1
          NLE Mock Boards 2
          NLE Mock Boards 3
          NLE Mock Boards 4
          NLE Mock Boards 5
          Brainstorming

      div#phase7
        b Phase 7
        div Last Minute Preparation & Guidance
          | Support & Adjuration on Exam Proper
          | Send off Day

      div#phase8
        b Phase 8
        | The Grand Day
          Celebration of Gift
          Application of Law of Gratitude
          Thanksgiving Day
