#about {
  .banner {
    height: 355px;
    background: url("about.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;

    .container .wrap{
      position: absolute;
      bottom: 22px;
      color: #fff;

      h1, h4 {
        margin: 0px;
      }

      h4 {
        font-family: 'Signika Light';
      }
    }
  }

  article {
    padding: 20px 0px;
  }

  .history{
    h6 {
      margin-top: 2px;
    }

    .row {
      padding: 5px 0px;
    }

    @bar-color: #EDCA66;
    .bar {
      height: 14px;
      margin-top: 4px;
      float: right;
    }

    .bar1 {
      width: 90%;
      background-color: @bar-color;
    }

    .bar2 {
      width: 95%;
      background-color: darken(@bar-color,15);
    }

    .bar3 {
      width: 100%;
      background-color: darken(@bar-color,30);
    }
  }
}
