.navbar.header .container.admin {
  width: 98%;
}
body {
  height: 100%;
}
.admin-container {
  position: relative;
  float: left;
  width: 100%;
  min-height: 550px;
}
.admin-nav {
  background: #4C4C4C;
  padding: 0;
  position: absolute;
  height: 100%;
}
.admin-nav ul.admin-nav > li > a {
  background: #3E3E3E;
  border-left: 3px solid #2980B9;
  border-radius: 0;
  color: #B2B2B2;
  font-family: "Signika Semibold";
  font-size: 16px;
  height: 40px;
}
.admin-nav ul.admin-nav > li.active > a,
.admin-nav ul.admin-nav > li.active > a:hover,
.admin-nav ul.admin-nav > li > a:hover {
  background: #323232;
}
.admin-nav ul.admin-nav > li > a .ico {
  width: 22px;
  float: left;
  margin-right: 10px;
}
.admin-nav ul.student {
  color: #CCC;
  font-family: 'Signika Semibold';
}
.admin-nav ul.student a {
  color: #CCC;
}
.admin-nav ul.student > li > a {
  padding: 8px 15px;
}
.admin-nav ul.student li,
.admin-nav ul.student li a:hover,
.admin-nav ul.student li a:focus,
.admin-nav ul.student li.active a,
.admin-nav ul.student li.active > a:hover,
.admin-nav ul.student li.active > a:focus {
  background: #585858;
}
.admin-nav ul.student li.active {
  border-right: 3px solid #DF5A49;
}
.admin-nav ul.student li.student {
  padding: 9px 10px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2) inset;
}
.admin-nav ul.student li.student img {
  height: 48px;
  width: 48px;
}
.admin-nav ul.student li.student .pic {
  width: 60px;
  float: left;
}
.admin-nav ul.student li.profile,
.admin-nav ul.student li.payment {
  font-size: 16px;
  height: 40px;
}
.admin-nav ul.student li.profile > a:hover,
.admin-nav ul.student li.payment > a:hover {
  color: #EEE;
}
.admin-nav ul.student li.profile img,
.admin-nav ul.student li.payment img {
  width: 24px;
}
.admin-nav ul.student li.profile .ico,
.admin-nav ul.student li.payment .ico {
  width: 35px;
  float: left;
}
.admin-nav ul.student li.profile .title,
.admin-nav ul.student li.payment .title {
  padding-top: 1px;
}
.admin-nav li.review-seasons a {
  padding-top: 8px;
}
.admin-content {
  padding: 30px;
}
.admin-content header h2 {
  font-family: 'Signika Semibold';
  font-size: 20px;
  color: #4C4C4C;
}
footer.admin {
  float: left;
  width: 100%;
  background-color: #333333;
  color: #E6E6E6;
  text-align: center;
  height: 70px;
  font-size: 15px;
  padding-top: 16px;
  line-height: 20px;
}
footer.admin a {
  color: #E6E6E6;
}
.modal .error ul {
  padding-left: 20px;
}
