#program {
  padding-top: 90px;
  margin-bottom: 30px;
}
#program > header {
  text-align: center;
}
#program > header p {
  font-family: 'Signika Light';
  font-size: 21px;
  margin-bottom: 0px;
}
#program > header h1 {
  font-family: 'Signika Semibold';
  font-size: 48px;
  margin-top: 0px;
}
#program .courses-tab {
  margin: 0 auto;
  width: 790px;
}
#program ul.nav.courses > li > a {
  font-family: 'Signika Semibold';
  width: 156px;
  background: rgba(239, 201, 76, 0.7);
  color: black;
  font-size: 16px;
  text-align: center;
}
#program ul.nav.courses > li > a:hover {
  background: #efc94c;
}
#program ul.nav.courses > li > a div {
  margin-top: 2px;
  height: 20px;
}
#program ul.nav.courses > li > a img {
  height: 32px;
  color: #000000;
}
#program ul.nav.courses > li.active > a {
  background: #efc94c;
}
#program ul.nav.course-outline > li > a > h1 {
  font-size: 16px;
  font-family: 'Signika Semibold';
  margin: 0;
}
#program ul.nav.course-outline > li > a > span {
  font-family: 'Signika Light';
}
#program ul.nav.course-outline > li > a {
  color: #191919;
  border-right: 4px solid rgba(254, 210, 78, 0.5);
  border-top: 1px solid rgba(254, 210, 78, 0.5);
  border-left: 1px solid rgba(254, 210, 78, 0.5);
  border-bottom: 1px solid rgba(254, 210, 78, 0.5);
}
#program ul.nav.course-outline > li > a:hover {
  background: rgba(254, 210, 78, 0.5);
}
#program ul.nav.course-outline > li.active > a {
  background: none;
  border-right: 4px solid #FED24E;
  border-top: 1px solid #EFC94C;
  border-left: 1px solid #EFC94C;
  border-bottom: 1px solid #EFC94C;
}
#program ul.nav.course-outline > li.active > a:hover {
  background: rgba(254, 210, 78, 0.5);
}
#program .panel.content {
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 15px;
}
#program .panel.content .phase {
  padding: 15px;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 3px;
  transition: background-color 0.5s ease;
}
#program .panel.content .phase.active {
  background: rgba(239, 201, 76, 0.51);
}
@media only screen and (min-width: 992px) {
  #program .panel.content .phase {
    width: 48.2%;
  }
  #program .panel.content .phase:nth-child(even) {
    float: right;
    clear: right;
  }
  #program .panel.content .phase:nth-child(odd) {
    float: left;
    clear: left;
  }
}
#program .tab-content {
  margin-top: 8px;
}
#program .coming-soon {
  height: 195px;
  padding-top: 76px;
  border: 1px solid #EFC94C;
  background: none;
}
#program .coming-soon .content {
  margin-left: auto;
  margin-right: auto;
  width: 209px;
}
#program .coming-soon .content div {
  float: left;
}
#program .coming-soon .text {
  float: left;
  margin-top: 5px;
  margin-left: 12px;
}
#program .coming-soon .text p {
  color: #4C4C4C;
}
#program .panel.content {
  border: 1px solid #EFC94C;
}
