#home {
  padding-top: 0px;
}
#home .more .fa {
  padding-right: 5px;
}
#home .banner {
  background: url("home.jpg") no-repeat center -600px fixed;
  color: #fff;
  height: 600px;
  padding-top: 60px;
  position: relative;
  text-align: center;
}
#home .banner h1 {
  font-size: 60px;
  margin-bottom: 5px;
}
#home .banner .tagline {
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  font-size: 21px;
  padding: 5px 10px;
}
#home .banner .call-to-action {
  padding-top: 40px;
  font-size: 18px;
}
#home .banner .call-to-action span {
  padding-right: 20px;
}
#home .banner .call-to-action .btn {
  font-family: 'Signika Semibold';
}
#home .reviewers {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#home .reviewers h3 {
  margin-top: 0px;
  margin-bottom: 11px;
}
#home .reviewers h3 + p {
  margin-bottom: 0px;
}
#home .reviewers .coverflow-wrapper {
  margin: 30px 0px 20px 0px;
  height: 400px;
  overflow: hidden;
}
#home .reviewers .more {
  color: #D96459;
}
#home .services {
  text-align: center;
}
#home .services .service {
  height: 300px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  position: relative;
}
#home .services .service p {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  color: white;
  left: 0;
  margin: 0px;
  padding: 5px 15px;
  position: absolute;
  right: 0;
  width: 100%;
}
#home .services .container {
  padding-top: 30px;
  padding-bottom: 30px;
}
#home .services .container h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#home .services .container h3 + p {
  margin-bottom: 0px;
}
#home .price-affordable .description {
  padding-top: 180px;
}
#home .price-affordable img {
  padding-top: 100px;
  text-align: right;
  max-width: 100%;
}
#home .price-affordable .more {
  color: #E27A3F;
}
#home .trackrecord {
  background-color: #333333;
  border-top: solid 4px #999999;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}
#home .trackrecord img {
  max-width: 100%;
}
#home .trackrecord .description {
  text-align: right;
  padding-top: 40px;
}
#home .trackrecord .description .more {
  color: #0BB4FF;
}
#home .trackrecord .description .more .fa {
  padding-right: 0px;
  padding-left: 5px;
}
#home .testimonials {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#home .testimonials h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#home .testimonials h3 + p {
  margin-bottom: 0px;
}
#home .testimonials .testimony {
  margin-top: 45px;
}
#home .testimonials .testimony b,
#home .testimonials .testimony p {
  display: block;
}
#home .testimonials .testimony .title {
  color: #808080;
}
#home .testimonials .testimony .quote {
  border-top: solid 1px #e8e8e8;
  border-bottom: solid 1px #e8e8e8;
  padding-top: 10px;
  padding-bottom: 10px;
}
