#our-students {
    margin-top: 50px;
    text-align: center;
}
#our-students .banner {
    margin: 40px 0px 30px 0px;
}
#our-students .banner h1 {
    margin: 0px;
}
#our-students .banner h4 {
    margin: 0px;
    font-family: 'Signika Light';
}
#our-students .batch {
    margin-bottom: 20px;
}
#our-students .batch .count {
    font-family: 'Signika Light';
}
