#founders,
#reviewers {
  text-align: center;
  margin-top: 60px;
}
#founders h1,
#reviewers h1,
#founders h4,
#reviewers h4 {
  margin: 0px;
}
#founders h4,
#reviewers h4 {
  font-family: 'Signika Light';
}
#founders .list h5,
#reviewers .list h5 {
  margin: 15px 0px 0px 0px;
}
#founders .list .type,
#reviewers .list .type {
  color: #4D4D4D;
  font-size: 18px;
  margin-bottom: 15px;
}
#founders .banner {
  padding: 40px 0px 20px 0px;
}
#founders .list > div {
  padding: 45px 0px;
}
#founders .list hr {
  border-top: solid 1px #E6E6E6;
  margin: 0 auto;
  width: 50%;
}
#reviewers .banner {
  padding: 40px 0px 50px 0px;
}
#reviewers .list > div {
  padding: 15px 0px;
}
