#review-seasons label {
  font-family: 'Signika Light';
  color: #4C4C4C;
  float: left;
  width: 120px;
  padding: 2px;
}
#review-seasons label.light {
  font-weight: normal;
}
#review-seasons label.to {
  width: 26px;
  margin-left: 6px;
}
#review-seasons input[type='text'] {
  height: 30px;
}
#review-seasons .range * {
  float: left;
}
#review-seasons .range input {
  width: 140px;
}
#review-seasons .range {
  float: left;
  width: 100%;
  margin-bottom: 3px;
}
#review-seasons .form-group {
  margin-bottom: 4px;
}
#review-seasons .modal .promo {
  margin-bottom: 20px;
}
#review-seasons .review-seasons {
  margin-top: 18px;
}
#review-seasons .review-seasons .review-season {
  background: #F9F9F9;
}
#review-seasons .review-seasons .review-season .discount {
  float: left;
  width: 100%;
  margin-bottom: 3px;
}
#review-seasons .review-seasons .review-season .discount {
  margin-top: 10px;
}
