#student-payment .invoices {
  margin-top: 19px;
}
#student-payment .invoice {
  padding-left: 0;
  padding-right: 0;
  margin-right: 15px;
  width: 47%;
  background: #F9F9F9;
}
#student-payment .invoice:hover .trash a {
  display: block;
}
#student-payment .invoice .trash a {
  display: none;
}
#student-payment .invoice i.fa {
  color: #A5A5A5;
  font-size: 20px;
}
#student-payment .invoice .panel-title {
  padding: 9px 15px;
}
#student-payment .invoice .panel-title .season,
#student-payment .invoice .panel-title .description {
  font-family: 'Signika Light';
}
#student-payment .invoice .panel-body {
  padding: 15px 7px 15px 15px;
}
#student-payment .invoice .panel-body * {
  float: left;
}
#student-payment .invoice .panel-body .error {
  width: 100%;
}
#student-payment .invoice .panel-body .error ul {
  padding-left: 20px;
}
#student-payment .invoice .panel-body .error ul * {
  float: none;
}
#student-payment .invoice .panel-body .head {
  font-size: 15px;
  color: #7F7F7F;
}
#student-payment .invoice .panel-body .head,
#student-payment .invoice .panel-body .data {
  width: 95%;
}
#student-payment .invoice .panel-body .data-container {
  width: 100%;
}
#student-payment .invoice .panel-body .date {
  width: 28%;
  padding-left: 10px;
}
#student-payment .invoice .panel-body .or {
  width: 25%;
}
#student-payment .invoice .panel-body .method {
  width: 23%;
}
#student-payment .invoice .panel-body .amount {
  width: 24%;
  padding-right: 10px;
}
#student-payment .invoice .panel-body .amount,
#student-payment .invoice .panel-body .amount * {
  text-align: right;
}
#student-payment .invoice .panel-body .data-container:nth-child(odd) .data {
  background: rgba(242, 227, 148, 0.5);
  border-radius: 4px;
}
#student-payment .invoice .panel-body .action a {
  display: none;
}
#student-payment .invoice .panel-body .data-container:hover .action a {
  display: block;
}
#student-payment .invoice .panel-body .action {
  padding-top: 3px;
  padding-left: 8px;
}
#student-payment .invoice .panel-body .delete-confirm-transaction * {
  float: none;
}
#student-payment .invoice .panel-body .add {
  width: 100%;
  margin-top: 5px;
}
#student-payment .invoice .panel-body .add a {
  font-size: 14px;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 2px;
}
#student-payment .invoice .panel-body .add div {
  text-align: center;
}
#student-payment .invoice .panel-body .action i.fa {
  font-size: 17px;
}
#student-payment .invoice .panel-body .add form {
  width: 95%;
}
#student-payment .invoice .panel-body .add form > div {
  padding-right: 8px;
}
#student-payment .invoice .panel-body .add form input {
  height: 25px;
  float: left;
  font-size: 14px;
}
#student-payment .invoice .panel-body .add form .date {
  padding-left: 0;
}
#student-payment .invoice .panel-body .add form .date input {
  background-position: 6px 4px;
  background-size: 15px;
  padding-left: 28px !important;
}
#student-payment .invoice .panel-body .add form .amount {
  padding-right: 0;
}
#student-payment .invoice .panel-body .add form .amount input {
  background-position: 6px 5px;
  background-size: 22px auto;
  width: 100%;
}
#student-payment .invoice .panel-footer {
  padding: 10px 25px 0 17px;
  height: 40px;
}
#student-payment .invoice .panel-footer > div {
  float: left;
}
#student-payment .invoice .panel-footer .trash {
  width: 40%;
  height: 20px;
}
#student-payment .invoice .panel-footer .text {
  width: 30%;
  text-align: right;
}
#student-payment .invoice .panel-footer .amount {
  width: 30%;
  text-align: right;
  font-size: 18px;
}
#student-payment #invoice-modal .modal-dialog {
  width: 527px;
}
#student-payment #invoice-modal .modal-header {
  border: none;
  padding: 20px 24px 0 24px;
}
#student-payment #invoice-modal .modal-header h4 {
  font-size: 20px;
}
#student-payment #invoice-modal .modal-body {
  padding: 16px 24px 16px 24px;
}
#student-payment #invoice-modal .modal-body .error ul {
  padding-left: 20px;
}
#student-payment #invoice-modal .form-group {
  margin-bottom: 10px;
}
#student-payment #invoice-modal label {
  float: left;
  margin-top: 4px;
  margin-right: 10px;
  font-weight: normal;
}
#student-payment #invoice-modal input.form-control {
  height: 30px;
}
#student-payment #invoice-modal .package input {
  width: 404px;
}
#student-payment #invoice-modal .description input {
  width: 383px;
}
#student-payment #invoice-modal .season select {
  width: 120px;
}
#student-payment #invoice-modal .amount.form-group {
  width: 270px;
  float: left;
}
#student-payment #invoice-modal .amount input {
  width: 180px;
}
#student-payment #invoice-modal .discount input {
  width: 130px;
}
#student-payment #invoice-modal .modal-footer {
  background: #588C7E;
  padding: 16px 24px;
}
#student-payment #invoice-modal .modal-footer .total {
  width: 320px;
  float: left;
  text-align: left;
}
#student-payment #invoice-modal .modal-footer .total .value {
  font-size: 19px;
  color: #ffffff;
  height: 24px;
}
#student-payment #invoice-modal .modal-footer .total .text {
  font-size: 13px;
}
#student-payment #invoice-modal .modal-footer .actions {
  padding-top: 3px;
}
#student-payment #invoice-modal .modal-footer .actions .btn {
  color: #334D5C;
  background: white;
}
