meta property="og:title" content="MaxRevOne Online"
meta property="og:site_name" content="MaxRevOne"
meta property="og:image" content=image_url("home.jpg")
meta property="og:url" content="https://maxrevone.herokuapp.com"
meta property="og:description" content="Settle for nothing less bu the best."
meta property="og:type" content="website"